{% extends 'dashboardNav.html' %}
{% load static %}
{% block content %}
<form method="post" action="{% url 'test' %}">
    {% csrf_token %}
    <select name="foodGroups">
        <option value='none' selected disabled hidden>Select a Food Category</option>
        <option value="Foundation">Foundation Foods</option>
        <option value="SR Legacy">SR Legacy Foods</option>
        <option value="Survey">Survey Foods</option>
        <option value="Branded">Branded Foods</option>
    </select>
    <br>
    <br>
<h3>Enter a food:</h3>
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" action="{% url 'test' %}">
    {% csrf_token %}
    <input name="searchFood" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
    aria-label="Search" aria-describedby="basic-addon2" >
    <button class="btn btn-primary"  type="submit">Search</button>
</form>
<br><br>
<ul>
    <form action="{%url 'addFood'%}">
    {% for food_name, nutrients in foods.items %} <!-- loop through the foods -->
    
    <button name="foodName" value="{{food_name}}">{{food_name}}</button>
    <input type='hidden' name="{{food_name}}-nutrients" value="{{nutrients}}" >

    <br>
    
        {% for nutrient_name, amount_unit in nutrients.items %}
        {{nutrient_name}}: 
        {% for value in amount_unit%}
        {{value}}
        {% endfor %}
        <br>
        {% endfor %}
        <br>
        
        {% comment %} {% for nutrient_name, amount_unit in nutrients.items %}
        {% for value in amount_unit%}
        {% if not value.isalpha %}
        <input type='hidden' name="nutrients" value="{{value}}">
        
        {% endif %}
        {% endfor %}
        {% endfor %} {% endcomment %}
        
        <br>
        {% endfor %}
        
    </form>
</ul>


{% endblock %}
